<div class="container position-relative">

    <div class="row">

        <!-- Section Text -->
        <div class="col-lg-12 d-flex align-items-center py-5">
            <div class="w-100  ">

                <div class="text-center selected-tab  align-items-center d-flex flex-column gap-3">
                    <h3 class="selectedtab-head-text">
                        Join Our<span style="color: #F8192A;font-weight: 700;"> Journey</span> 
                    </h3>

                </div>

                <p class="text-common pb-5">We are looking for a skilled and detail-oriented professional with relevant experience in their
                    respective domain. The ideal candidate will have hands-on expertise in execution and process
                    improvement, strong problem-solving abilities, and a commitment to delivering high-quality outcomes.
                </p>

                <div class="career-list ">
                    <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)">
                    @for (item of jobs(); track item.id) {
                    <div class="career-item cursor-pointer" (click)="toggleExpand(item.id)">

                        <div class="d-flex justify-content-between w-100 job-row">

                            <div class="career-info">
                                <h4 class="career-title feature-head">{{ item.title }}</h4>
                                <div class="career-source feature-subtext" [innerHTML]="item.type"></div>
                                <!-- <div class="career-source feature-subtext " >
                                    {{ item.type }}
                                </div>  -->
                            </div>

                            <div class="career-action">
                                <button class="btn btn-apply rounded-pill align-items-center"
                                    (click)="openApplyModal(item);$event.stopPropagation()" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop">
                                    Apply

                                </button>


                            </div>
                        </div>


                        <div class="collapse-content w-100" [class.show]="expandedJobId() === item.id">
                            <div class="pt-3 mt-2 border-top">


                                @if (item.KeySkills) {
                                <div class="job-section mb-3">
                                    <h6 class="fw-bold text-dark">Key Skills:</h6>
                                    <div [innerHTML]="item.KeySkills" class="text-muted section-content"></div>
                                </div>
                                }

                                @if (item.Responsibilities) {
                                <div class="job-section mb-3">
                                    <h6 class="fw-bold text-dark">Responsibilities:</h6>
                                    <div [innerHTML]="item.Responsibilities" class="text-muted section-content"></div>
                                </div>
                                }

                                @if (item.Qualifications) {
                                <div class="job-section mb-3">
                                    <h6 class="fw-bold text-dark">Qualifications:</h6>
                                    <div [innerHTML]="item.Qualifications" class="text-muted section-content"></div>
                                </div>
                                }

                                @if (item.Preferred) {
                                <div class="job-section mb-3">
                                    <h6 class="fw-bold text-dark">Preferred:</h6>
                                    <div [innerHTML]="item.Preferred" class="text-muted section-content"></div>
                                </div>
                                }

                            </div>
                        </div>
                    </div>
                    }
                </div>




                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered  modal-lg ">
                        <div class="modal-content">
                            <button class="modal-close-btn" (click)="closeModal()" data-bs-dismiss="modal">
                                <svg width="44" height="44" viewBox="0 0 48 48">
                                    <circle cx="24" cy="24" r="24" fill="#F33B48" />
                                    <path d="M16 16L32 32" stroke="white" stroke-width="3" />
                                    <path d="M32 16L16 32" stroke="white" stroke-width="3" />
                                </svg>
                            </button>
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Apply for {{ selectedJobTitle }}</h5>
                                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close" ></button> -->
                            </div>
                            <div class="modal-body">

                                <form #applicationForm="ngForm" (ngSubmit)="submitResumeForm(applicationForm)"
                                    id="applicationForm" class="p-0">

                                    <div class="formdata">
                                        <div class="row justify-content-center">

                                            <div class="row gap-3">
                                                <div class=" col-md-12 col-sm-12 ">
                                                    <div class="nav-label label-text mb-2">Full Name<sup class="text-danger position-static">*</sup></div>

                                                    <input type="text" name="name" ngModel required
                                                        pattern="^[A-Za-z ]+$"
                                                        (input)="main.restrictInput($event, 'text')" minlength="2"
                                                        class="form-control form-control-lg feature-subtext"
                                                        placeholder="Your Name" #name="ngModel">

                                                    <div class="text-danger mt-1" *ngIf="name.invalid && name.touched">
                                                        <small *ngIf="name.errors?.['required']">Full name is
                                                            required.</small>
                                                        <small *ngIf="name.errors?.['pattern']">Only letters, numbers &
                                                            spaces allowed.</small>
                                                    </div>
                                                </div>

                                                <div class=" col-md-12 col-sm-12 ">
                                                    <div class="nav-label label-text mb-2">Email Id<sup class="text-danger position-static">*</sup></div>

                                                    <input type="text" name="email" ngModel required
                                                        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                                                        minlength="10" maxlength="40"
                                                        class="form-control form-control-lg feature-subtext"
                                                        placeholder="Your Email Id" #email="ngModel">

                                                    <div class="text-danger mt-1" *ngIf="email.invalid && email.touched">
                                                        <small *ngIf="email.errors?.['required']">Email Id is
                                                            required.</small>
                                                        <small *ngIf="email.errors?.['pattern']">Please enter valid Email Id.</small>
                                                    </div>
                                                </div>

                                                <div class="col-md-12 col-sm-12">
                                                    <div class="nav-label label-text mb-2">Phone number<sup
                                                            class="text-danger position-static">*</sup></div>

                                                    <div class="phone-wrapper d-flex align-items-center">

                                                        <!-- Country Selector -->
                                                        <div class="country-box d-flex align-items-center">
                                                            <img src="https://flagcdn.com/w20/in.webp" class="flag-icon"
                                                                alt="flag">
                                                            <span>+91</span>
                                                        </div>

                                                        <!-- Mobile Number Input -->
                                                        <input type="tel" name="phone" ngModel required
                                                            pattern="^[6-9][0-9]{9}$"
                                                            (input)="main.restrictInput($event, 'number')"
                                                            class="form-control mobile-input feature-subtext"
                                                            placeholder="Enter Mobile number" #phone="ngModel"
                                                            maxlength="10">
                                                    </div>
                                                    <div class="text-danger mt-1"
                                                        *ngIf="phone.invalid && phone.touched">
                                                        <small *ngIf="phone.errors?.['required']">Phone number is
                                                            required.</small>
                                                        <small *ngIf="phone.errors?.['pattern']">Enter a valid 10-digit
                                                            number.</small>
                                                    </div>
                                                </div>

                                                <div class=" col-md-12 col-sm-12 ">
                                                    <div class="nav-label label-text mb-2">Notice Period (days)<sup class="text-danger position-static">*</sup></div>

                                                    <input type="text" name="notice" ngModel required
                                                        pattern="^([1-9]|[1-8][0-9]|90)$"
                                                        (input)="main.restrictInput($event, 'number')" minlength="1" maxlength="2"
                                                        class="form-control form-control-lg feature-subtext"
                                                        placeholder="Your Notice Period" #notice="ngModel">

                                                    <div class="text-danger mt-1" *ngIf="notice.invalid && notice.touched">
                                                        <small *ngIf="notice.errors?.['required']">Notice period is
                                                            required.</small>
                                                        <small *ngIf="notice.errors?.['pattern']">Only numbers 1-90 allowed.</small>
                                                    </div>
                                                </div>

                                                <div class=" col-md-12 col-sm-12 ">
                                                    <div class="nav-label label-text mb-2">Upload Resume<sup class="text-danger position-static">*</sup>
                                                    </div>

                                                    <div>

                                                        <input name="file" ngModel class="form-control form-control-md" id="formFileLg"
                                                            required *ngIf="showFileInput" type="file"
                                                            (change)="onFileSelected($event)" #file="ngModel">
                                                    </div>


                                                </div>

                                                <div class=" col-md-12 col-sm-12 d-flex justify-content-center">
                                                    <button type="submit" class="btn btn-danger btn-lg submitbtn"
                                                        [disabled]="applicationForm.invalid || !selectedFile() || isSubmitting">
                                                        {{ isSubmitting ? 'Sending...' : 'Submit' }}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- <div class="loader-overlay" *ngIf="isSubmitting">
                    <div class="spinner-container">
                        <div class="spinner-border spinner-lg" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>

                        <p class="loader-text mt-3">Processing your application...</p>
                    </div>
                </div> -->
                <div class=" contact-success-box text-center d-flex justify-content-center"
                    *ngIf="status === 'success'">
                    <div class="card  contact-card-success">
                        <div class="card-body d-flex flex-column gap-3">
                            <div class="service-icon1"><img src="assets/images/tick-circle.svg" hei ght="117"
                                    width="117" alt="product1" class="success-tick-icon">
                            </div>

                            <h4 class="success-title">Application Received!</h4>
                            <div class="product-info1">
                                <p class="text-normal">{{msgtoshow}}</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="loan-success-box text-center d-flex justify-content-center" *ngIf="status === 'error'">
                    <div class="card  service-card-success">
                        <div class="card-body d-flex flex-column gap-3">
                            <div class="service-icon1"><img src="assets/images/danger.svg" height="117" width="117"
                                    alt="product1" class="success-tick-icon">
                            </div>
                            <div class="product-info1">
                                <p class="text-normal">{{msgtoshow}}</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
